<div class="row signup1">
<div class="col-lg-6 col-sm-12">
            <div class=" mt-5 p-3 bg-outline-info w-75 container">
                <h2 class="text-center text-white mt-3">Sign-up</h2>
                <form action="" class="text-center " style="border-radius: 10px;">
                <div class="mt-2 p-2">
                    <input type="text" id="ac1" placeholder="Enter Account No" class="form-control mt-3 bg-outline-info"> 
                </div>            
                <div class="mt-2 p-2">
                    <input type="text" id="psw" placeholder="Enter User Name" class="form-control">
                </div>            
                <div class="mt-2 p-2">
                    <input type="text" id="psw" placeholder="Enter Password" class="form-control">
                </div>            
                
                <div class="mt-2 p-2">
                    <input type="text" id="psw" placeholder="Confirm Password" class="form-control">
                </div>            
                
                <div class="mt-2 p-2">
                    <button (click)="signup()" class="btn btn-primary" type="button">Signup</button>
                </div>            
                </form>
                
            </div>
    
</div>
<div class="col-lg-6 col-md-12 col-sm-12"></div>
</div>       