<div class="signup1">
    <div class="sign1 mt-5 p-3 bg-outline-info">
        <h2 class="text-center text-white mt-3">Sign-up</h2>
        <form action="" class="w-75 container text-center " style="border-radius: 10px;">
        <div class="mt-2 p-2 col-md-6 col-sm-6 col-lg-12">
            <input type="text" id="ac1" placeholder="Enter Account No" class="form-control mt-3 bg-outline-info"> 
        </div>            
        <div class="mt-2 p-2">
            <input type="text" id="psw" placeholder="Enter User Name" class="form-control">
        </div>            
        <div class="mt-2 p-2">
            <input type="text" id="psw" placeholder="Enter Password" class="form-control">
        </div>            
        
        <div class="mt-2 p-2">
            <input type="text" id="psw" placeholder="Confirm Password" class="form-control">
        </div>            
        
        <div class="mt-2 p-2">
            <button class="btn btn-primary" type="button" onclick="loginbank()">Signup</button>
        </div>            
        </form>
        
    </div>
    
</div>